In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('D:\All_data_science_project\DASH\IPL\Data\deliveries.csv')

In [4]:
df1

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243813,1370353,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,MM Sharma,S Dube,1,0,1,NaN,0,NaN,NaN,NaN
243814,1370353,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243815,1370353,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,MM Sharma,S Dube,6,0,6,NaN,0,NaN,NaN,NaN
243816,1370353,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,MM Sharma,S Dube,4,0,4,NaN,0,NaN,NaN,NaN

In [5]:
df2 = pd.read_csv('D:\All_data_science_project\DASH\IPL\Data\matches.csv')

In [6]:
df2

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1359544,2023,Bengaluru,2023-05-21,League,Shubman Gill,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,wickets,6.0,198.0,20.0,N,NaN,Nitin Menon,VK Sharma
1020,1370350,2023,Chennai,2023-05-23,Qualifier 1,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,Chennai Super Kings,runs,15.0,173.0,20.0,N,NaN,AK Chaudhary,CB Gaffaney
1021,1370351,2023,Chennai,2023-05-24,Eliminator,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,Mumbai Indians,runs,81.0,183.0,20.0,N,NaN,BNJ Oxenford,VK Sharma
1022,1370352,2023,Ahmedabad,2023-05-26,Qualifier 2,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Mumbai Indians,Mumbai Indians,field,Gujarat Titans,runs,62.0,234.0,20.0,N,NaN,Nitin Menon,RJ Tucker
1023,1370353,2023,Ahmedabad,2023-05-29,Final,DP Conway,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker

In [7]:
# get the column names of the dataframe

df1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [21]:
def see_col(x):
 return df1[x]
see_col('batsman_runs')

0         0
1         0
2         0
3         0
4         0
         ..
243812    1
243813    1
243814    1
243815    6
243816    4
Name: batsman_runs, Length: 243817, dtype: int64

In [34]:
df1['match_id'].nunique()

1024

In [31]:
df1['batter'].unique()

array(['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey',
       'Mohammad Hafeez', 'R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis',
       'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke', 'P Kumar',
       'Z Khan', 'SB Joshi', 'PA Patel', 'ML Hayden', 'MEK Hussey',
       'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'K Goel',
       'JR Hopes', 'KC Sangakkara', 'Yuvraj Singh', 'SM Katich',
       'IK Pathan', 'T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif',
       'DS Lehmann', 'RA Jadeja', 'M Rawat', 'D Salunkhe', 'SK Warne',
       'SK Trivedi', 'G Gambhir', 'V Sehwag', 'S Dhawan', 'L Ronchi',
       'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah',
       'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'S Chanderpaul',
       'LRPL Taylor', 'AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxman',
       'A Symonds', 'RG Sharma', 'SB Styris', 'AS Yadav', 'SB Bangar',
       'WPUJC Vaas', 'RP Singh', 'WP Saha', 'LR Shukla',
       'DPMD Jayawardene', 'S Sohal', 'B Lee', 'PP Chawla', 'WA Mota',
       'Kamran Akmal', 'Shahid Afridi', 'DJ Bravo', 'MA Khote', 'A Nehra',
       'GC Smith', 'Pankaj Singh', 'RR Sarwan', 'S Sreesanth',
       'VRV Singh', 'SS Tiwary', 'DS Kulkarni', 'R Vinay Kumar',
       'AB Agarkar', 'M Kartik', 'I Sharma', 'AM Rahane', 'Shoaib Malik',
       'MK Tiwary', 'KD Karthik', 'R Bhatia', 'MF Maharoof', 'VY Mahesh',
       'TM Srivastava', 'B Chipli', 'DW Steyn', 'DB Das', 'MK Pandey',
       'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna', 'SE Marsh',
       'SA Asnodkar', 'Sohail Tanvir', 'Salman Butt', 'BJ Hodge',
       'Umar Gul', 'AB Dinda', 'SP Fleming', 'S Vidyut', 'JA Morkel',
       'AB de Villiers', 'LPC Silva', 'DB Ravi Teja', 'Misbah-ul-Haq',
       'YV Takawale', 'RR Raje', 'PJ Sangwan', 'Mohammad Asif',
       'GD McGrath', 'Joginder Sharma', 'MS Gony', 'M Muralitharan',
       'M Ntini', 'DT Patil', 'A Kumble', 'S Anirudha', 'MM Patel',
       'CK Kapugedera', 'A Chopra', 'T Taibu', 'J Arunkumar', 'PP Ojha',
       'SP Goswami', 'SR Tendulkar', 'U Kaul', 'TM Dilshan', 'A Mishra',
       'AD Mascarenhas', 'NK Patel', 'LA Pomersbach', 'Iqbal Abdulla',
       'Younis Khan', 'PM Sarvesh Kumar', 'DP Vijaykumar',
       'Shoaib Akhtar', 'Abdur Razzak', 'H Das', 'DR Smith', 'SD Chitnis',
       'CRD Fernando', 'VS Yeligati', 'L Balaji', 'A Mukund', 'RR Powar',
       'JP Duminy', 'A Flintoff', 'T Thushara', 'JD Ryder',
       'KP Pietersen', 'T Henderson', 'Kamran Khan', 'RS Bopara',
       'CH Gayle', 'MC Henriques', 'R Bishnoi', 'FH Edwards', 'KV Sharma',
       'PC Valthaty', 'RJ Quiney', 'AS Raut', 'Yashpal Singh', 'M Manhas',
       'AA Bilakhia', 'AN Ghosh', 'BAW Mendis', 'DL Vettori',
       'MN van Wyk', 'RE van der Merwe', 'TL Suman', 'Shoaib Ahmed',
       'GR Napier', 'KP Appanna', 'LA Carseldine', 'NV Ojha',
       'SM Harwood', 'M Vijay', 'SB Jakati', 'DA Warner', 'RJ Harris',
       'D du Preez', 'M Morkel', 'AD Mathews', 'J Botha', 'C Nanda',
       'SL Malinga', 'Mashrafe Mortaza', 'A Singh', 'GJ Bailey',
       'AB McDonald', 'Y Nagar', 'SS Shaikh', 'R Ashwin',
       'Mohammad Ashraful', 'CA Pujara', 'OA Shah', 'Anirudh Singh',
       'Jaskaran Singh', 'AP Tare', 'AT Rayudu', 'R Sathish', 'R McLaren',
       'AA Jhunjhunwala', 'P Dogra', 'A Uniyal', 'MS Bisla', 'YA Abdulla',
       'EJG Morgan', 'JM Kemp', 'S Tyagi', 'RS Gavaskar', 'SE Bond',
       'KA Pollard', 'S Ladda', 'DP Nannes', 'MJ Lumb', 'DR Martyn',
       'S Narwal', 'AB Barath', 'Bipul Sharma', 'FY Fazal', 'AC Voges',
       'MD Mishra', 'UT Yadav', 'J Theron', 'SJ Srivastava', 'R Sharma',
       'Mandeep Singh', 'KM Jadhav', 'SW Tait', 'KB Arun Karthik',
       'KAJ Roach', 'PD Collingwood', 'CK Langeveldt', 'VS Malik',
       'A Mithun', 'AP Dole', 'AN Ahmed', 'RS Sodhi', 'DE Bollinger',
       'S Sriram', 'B Sumanth', 'C Madan', 'AG Paunikar', 'MR Marsh',
       'AJ Finch', 'STR Binny', 'Harmeet Singh', 'IR Jaggi',
       'DT Christian', 'RV Gomez', 'MA Agarwal', 'AUK Pathan',
       'UBT Chand', 'DJ Jacobs', 'Sunny Singh', 'NJ Rimmington',
       'AL Menaria', 'WD Parnell', 'JJ van der Wath', 'R Ninan',
       'S Aravind', 'MS Wade', 'TD Paine', 'SB Wagh', 'AC Thomas',
       'JEC Franklin', 'Shakib Al Hasan', 'DH Yagnik', 'S Randiv',
       'BJ Haddin', 'NLTC Perera', 'NL McCullum', 'JE Taylor',
       'J Syed Mohammad', 'RN ten Doeschate', 'TR Birt', 'AG Murtaza',
       'Harpreet Singh', 'M Klinger', 'AC Blizzard', 'I Malhotra',
       'L Ablish', 'CA Ingram', 'S Nadeem', 'P Parameswaran',
       'CJ Ferguson', 'VR Aaron', 'AA Chavan', 'ND Doshi', 'B Kumar',
       'Y Gnaneswara Rao', 'S Rana', 'BA Bhatt', 'F du Plessis',
       'RE Levi', 'GJ Maxwell', 'SPD Smith', 'MN Samuels', 'SA Yadav',
       'KK Cooper', 'JP Faulkner', 'HV Patel', 'DAJ Bracewell',
       'DJ Harris', 'Ankit Sharma', 'SP Narine', 'GB Hogg', 'RR Bhatkal',
       'CJ McKay', 'N Saini', 'DA Miller', 'Azhar Mahmood', 'P Negi',
       'RJ Peterson', 'KMDN Kulasekara', 'A Ashish Reddy',
       'V Pratap Singh', 'BB Samantray', 'MJ Clarke', 'Gurkeerat Singh',
       'AP Majumdar', 'PA Reddy', 'K Upadhyay', 'P Awana', 'AD Russell',
       'A Chandila', 'CA Lynn', 'Sunny Gupta', 'MC Juneja', 'KK Nair',
       'GH Vihari', 'MDKJ Perera', 'R Shukla', 'B Laughlin', 'AS Rajpoot',
       'M Vohra', 'JD Unadkat', 'Mohammed Shami', 'BMAJ Mendis',
       'R Rampaul', 'CH Morris', 'SV Samson', 'SMSM Senanayake',
       'BJ Rohrer', 'KL Rahul', 'Q de Kock', 'R Dhawan', 'MG Johnson',
       'LJ Wright', 'IC Pandey', 'CM Gautam', 'X Thalaivan Sargunam',
       'DJG Sammy', 'KW Richardson', 'MM Sharma', 'UA Birla',
       'Parvez Rasool', 'Sandeep Sharma', 'S Kaul', 'Sachin Baby',
       'PV Tambe', 'NM Coulter-Nile', 'CJ Anderson', 'NJ Maddinson',
       'AR Patel', 'JJ Bumrah', 'JDS Neesham', 'TG Southee', 'MA Starc',
       'BR Dunk', 'RR Rossouw', 'Shivam Sharma', 'YS Chahal',
       'LMP Simmons', 'VH Zol', 'BCJ Cutting', 'Imran Tahir',
       'BE Hendricks', 'S Gopal', 'M de Lange', 'R Tewatia', 'JO Holder',
       'Karanveer Singh', 'SS Iyer', 'DJ Hooda', 'Anureet Singh',
       'KS Williamson', 'SA Abbott', 'J Suchith', 'RG More', 'HH Pandya',
       'D Wiese', 'SN Khan', 'MJ McClenaghan', 'DJ Muthuswami',
       'PJ Cummins', 'SN Thakur', 'JC Buttler', 'CR Brathwaite',
       'MP Stoinis', 'Ishan Kishan', 'C Munro', 'P Sahu', 'KH Pandya',
       'AD Nath', 'MJ Guptill', 'KJ Abbott', 'TM Head', 'M Ashwin',
       'NS Naik', 'RR Pant', 'SW Billings', 'KC Cariappa',
       'PSP Handscomb', 'Swapnil Singh', 'J Yadav', 'UT Khawaja',
       'HM Amla', 'F Behardien', 'BB Sran', 'A Zampa', 'N Rana',
       'S Kaushik', 'ER Dwivedi', 'CJ Jordan', 'TS Mills', 'A Choudhary',
       'BA Stokes', 'JJ Roy', 'Vishnu Vinod', 'Basil Thampi', 'CR Woakes',
       'RA Tripathi', 'DL Chahar', 'V Shankar', 'Rashid Khan',
       'RD Chahar', 'LH Ferguson', 'C de Grandhomme', 'AF Milne',
       'S Badree', 'Mohammad Nabi', 'AJ Tye', 'K Rabada', 'Kuldeep Yadav',
       'Washington Sundar', 'DM Bravo', 'AR Bawne', 'SP Jackson',
       'Ankit Soni', 'TA Boult', 'E Lewis', 'MA Wood', 'RK Singh',
       'DJM Short', 'K Gowtham', 'TK Curran', 'M Markande', 'B Stanlake',
       'Mujeeb Ur Rahman', 'A Dananjaya', 'Shubman Gill', 'Shivam Mavi',
       'Mohammed Siraj', 'H Klaasen', 'RK Bhui', 'JC Archer', 'PP Shaw',
       'LE Plunkett', 'Mustafizur Rahman', 'AD Hales', 'MK Lomror',
       'DR Shorey', 'MM Ali', 'M Prasidh Krishna', 'P Chopra',
       'JPR Scantlebury-Searles', 'Abhishek Sharma', 'IS Sodhi',
       'SO Hetmyer', 'S Dube', 'Navdeep Saini', 'JM Bairstow', 'KMA Paul',
       'Rasikh Salam', 'N Pooran', 'P Ray Barman', 'SM Curran',
       'GC Viljoen', 'Avesh Khan', 'S Lamichhane', 'HF Gurney', 'SD Lad',
       'AS Joseph', 'R Parag', 'MJ Santner', 'JL Denly', 'LS Livingstone',
       'KK Ahmed', 'AJ Turner', 'Harpreet Brar', 'SE Rutherford',
       'Y Prithvi Raj', 'P Simran Singh', 'JL Pattinson', 'A Nortje',
       'T Banton', 'D Padikkal', 'YBK Jaiswal', 'RD Gaikwad',
       'TU Deshpande', 'Abdul Samad', 'PK Garg', 'JR Philippe',
       'Kartik Tyagi', 'KL Nagarkoti', 'CV Varun', 'I Udana',
       'Ravi Bishnoi', 'Shahbaz Ahmed', 'AT Carey', 'N Jagadeesan',
       'T Natarajan', 'P Dubey', 'SS Cottrell', 'Arshdeep Singh',
       'DR Sams', 'M Jansen', 'RM Patidar', 'KA Jamieson',
       'M Shahrukh Khan', 'JA Richardson', 'Lalit Yadav', 'Virat Singh',
       'FA Allen', 'C Sakariya', 'DJ Malan', 'KS Bharat', 'PWH de Silva',
       'VR Iyer', 'GD Phillips', 'GHS Garton', 'AK Markram', 'K Yadav',
       'T Shamsi', 'NT Ellis', 'RV Patel', 'TL Seifert',
       'Anmolpreet Singh', 'Anuj Rawat', 'TH David', 'DP Conway',
       'Tilak Varma', 'R Powell', 'PBB Rajapaksa', 'RA Bawa', 'OF Smith',
       'A Badoni', 'PVD Chameera', 'A Manohar', 'R Shepherd', 'DJ Willey',
       'D Pretorius', 'JM Sharma', 'VG Arora', 'Mukesh Choudhary',
       'Umran Malik', 'D Brevis', 'B Sai Sudharsan', 'Ramandeep Singh',
       'HE van der Dussen', 'SS Prabhudessai', 'Akash Deep',
       'JR Hazlewood', 'KR Sen', 'Aman Hakim Khan', 'HR Shokeen',
       'Yash Dayal', 'DJ Mitchell', 'Shashank Singh', 'B Indrajith',
       'Harshit Rana', 'Mohsin Khan', 'Simarjeet Singh', 'M Theekshana',
       'AS Roy', 'Fazalhaq Farooqi', 'K Kartikeya', 'RP Meredith',
       'KS Sharma', 'T Stubbs', 'R Sanjay Yadav', 'A Tomar', 'PN Mankad',
       'OC McCoy', 'Sikandar Raza', 'Rahmanullah Gurbaz', 'KR Mayers',
       'Mukesh Kumar', 'HC Brook', 'AU Rashid', 'C Green', 'N Wadhera',
       'Arshad Khan', 'Abishek Porel', 'Dhruv Jurel', 'MG Bracewell',
       'MW Short', 'Mohit Rathee', 'YV Dhull', 'Yudhvir Singh',
       'Atharva Taide', 'Liton Das', 'PD Salt', 'Vijaykumar Vyshak',
       'Abdul Basith', 'Arjun Tendulkar', 'JP Behrendorff', 'AJ Hosein',
       'Naveen-ul-Haq', 'Noor Ahmad', 'JE Root', 'KM Asif', 'MD Shanaka',
       'Sanvir Singh', 'Vivrant Sharma', 'DG Nalkande'], dtype=object)

In [32]:
df1[(df1['match_id']==335982) & (df1['batter']=='SC Ganguly')]['batsman_runs'].sum()

10

In [47]:
df1

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243813,1370353,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,MM Sharma,S Dube,1,0,1,NaN,0,NaN,NaN,NaN
243814,1370353,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243815,1370353,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,MM Sharma,S Dube,6,0,6,NaN,0,NaN,NaN,NaN
243816,1370353,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,MM Sharma,S Dube,4,0,4,NaN,0,NaN,NaN,NaN

In [57]:
#df1[df1['match_id']==335982]['batter'].unique()
def show_run(matchid,batsmanname):
 x = df1[df1['match_id']==matchid][['batter','batsman_runs','over','ball']]
 x = x[x['batter']==batsmanname]['batsman_runs'].sum()
 return x 

[show_run(335982,batsmanname) for batsmanname in df1[df1['match_id']==335982]['batter'].unique()]

[10, 158, 20, 12, 5, 2, 6, 1, 8, 6, 7, 0, 9, 18, 3, 3]

In [60]:
import pandas as pd

# Assuming df1 is your DataFrame containing the data
def show_run(matchid, batsmanname):
    x = df1[df1['match_id'] == matchid][['batter', 'batsman_runs', 'over', 'ball']]
    x = x[x['batter'] == batsmanname]['batsman_runs'].sum()
    return x

# Get unique batsman names for match_id 335982
unique_batsmen = df1[df1['match_id'] == 335982]['batter'].unique()

# Create an empty list to store tuples of batsman names and their runs
batsman_runs = []

# Iterate over unique batsmen and calculate total runs for each
for batsmanname in unique_batsmen:
    runs = show_run(335982, batsmanname)
    batsman_runs.append((batsmanname, runs))

# Convert the list of tuples into a DataFrame
result_df = pd.DataFrame(batsman_runs, columns=['batsman', 'runs'])

print(result_df)

            batsman  runs
0        SC Ganguly    10
1       BB McCullum   158
2        RT Ponting    20
3         DJ Hussey    12
4   Mohammad Hafeez     5
5          R Dravid     2
6          W Jaffer     6
7           V Kohli     1
8         JH Kallis     8
9          CL White     6
10       MV Boucher     7
11          B Akhil     0
12        AA Noffke     9
13          P Kumar    18
14           Z Khan     3
15         SB Joshi     3

In [62]:
df1['match_id'].unique()

array([ 335982,  335983,  335984, ..., 1370351, 1370352, 1370353],
      dtype=int64)

In [78]:
import pandas as pd

# Assuming df1 is your DataFrame containing the data
def show_run(df, matchid, batsmanname):
    x = df[df['match_id'] == matchid][['batter', 'batsman_runs', 'over', 'ball']]
    x = x[x['batter'] == batsmanname]['batsman_runs'].sum()
    return x

# List of match IDs
match_ids = df1['match_id'].unique() # Add more match IDs as needed

# Create an empty list to store tuples of batsman names and their runs
all_batsman_runs = []

# Iterate over each match ID
for match_id in match_ids:
    # Get unique batsman names for the current match ID
    unique_batsmen = df1[df1['match_id'] == match_id]['batter'].unique()
    
    # Iterate over unique batsmen for the current match
    for batsmanname in unique_batsmen:
        runs = show_run(df1, match_id, batsmanname)
        all_batsman_runs.append((match_id, batsmanname, runs))

# Convert the list of tuples into a DataFrame
batsman_name_and_runs = pd.DataFrame(all_batsman_runs, columns=['match_id', 'batsman', 'runs'])

print(batsman_name_and_runs)

       match_id          batsman  runs
0        335982       SC Ganguly    10
1        335982      BB McCullum   158
2        335982       RT Ponting    20
3        335982        DJ Hussey    12
4        335982  Mohammad Hafeez     5
...         ...              ...   ...
15395   1370353           S Dube    32
15396   1370353        AM Rahane    27
15397   1370353        AT Rayudu    19
15398   1370353         MS Dhoni     0
15399   1370353        RA Jadeja    15

[15400 rows x 3 columns]

In [86]:
batsman_name_and_runs.groupby(by='batsman')['runs'].sum().reset_index().sort_values(by='runs',ascending=False).head(10)

            batsman  runs
597         V Kohli  7273
488        S Dhawan  6617
138       DA Warner  6399
455       RG Sharma  6213
519        SK Raina  5536
27   AB de Villiers  5181
357        MS Dhoni  5082
116        CH Gayle  4997
477      RV Uthappa  4954
269      KD Karthik  4517

Now its time to get the number how many balls faced by each batsman

In [81]:
import pandas as pd

# Assuming df1 is your DataFrame containing the data
def show_ball(df, matchid, batsmanname):
    x = df[df['match_id'] == matchid][['batter', 'batsman_runs', 'over', 'ball']]
    x = x[x['batter'] == batsmanname]['ball'].count()
    return x

# List of match IDs
match_ids = df1['match_id'].unique() # Add more match IDs as needed

# Create an empty list to store tuples of batsman names and their runs
all_batsman_balls = []

# Iterate over each match ID
for match_id in match_ids:
    # Get unique batsman names for the current match ID
    unique_batsmen = df1[df1['match_id'] == match_id]['batter'].unique()
    
    # Iterate over unique batsmen for the current match
    for batsmanname in unique_batsmen:
        balls = show_ball(df1, match_id, batsmanname)
        all_batsman_balls.append((match_id, batsmanname, balls))

# Convert the list of tuples into a DataFrame
batsman_name_and_balls = pd.DataFrame(all_batsman_balls, columns=['match_id', 'batsman', 'balls_faced'])

print(batsman_name_and_balls)

       match_id          batsman  balls_faced
0        335982       SC Ganguly           12
1        335982      BB McCullum           77
2        335982       RT Ponting           20
3        335982        DJ Hussey           12
4        335982  Mohammad Hafeez            3
...         ...              ...          ...
15395   1370353           S Dube           21
15396   1370353        AM Rahane           14
15397   1370353        AT Rayudu            8
15398   1370353         MS Dhoni            1
15399   1370353        RA Jadeja            6

[15400 rows x 3 columns]

In [84]:
batsman_name_and_balls.groupby(by='batsman')['balls_faced'].sum().reset_index().sort_values(by='balls_faced',ascending=False).head(10)

        batsman  balls_faced
597     V Kohli         5739
488    S Dhawan         5358
455   RG Sharma         4890
138   DA Warner         4719
519    SK Raina         4177
477  RV Uthappa         3927
357    MS Dhoni         3865
47    AM Rahane         3658
184   G Gambhir         3524
116    CH Gayle         3516

In [97]:
import pandas as pd

# Assuming batsman_name_and_runs and batsman_name_and_balls are your DataFrames

# Merge the two DataFrames on the 'batsman' column
X = pd.merge(batsman_name_and_balls.groupby(by='batsman')['balls_faced'].sum().reset_index().sort_values(by='balls_faced',ascending=False), batsman_name_and_runs.groupby(by='batsman')['runs'].sum().reset_index().sort_values(by='runs',ascending=False), on='batsman')

X['strike_rate'] = round((X['runs']/X['balls_faced']) * 100,2)

In [98]:
X

           batsman  balls_faced  runs  strike_rate
0          V Kohli       5739.0  7273       126.73
1         S Dhawan       5358.0  6617       123.50
2        RG Sharma       4890.0  6213       127.06
3        DA Warner       4719.0  6399       135.60
4         SK Raina       4177.0  5536       132.54
..             ...          ...   ...          ...
632   S Lamichhane          1.0     0         0.00
633     YA Abdulla          1.0     0         0.00
634        C Nanda          1.0     0         0.00
635         U Kaul          1.0     0         0.00
636  Y Prithvi Raj          1.0     0         0.00

[637 rows x 4 columns]

In [106]:
df1['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field', 'retired out'], dtype=object)

In [108]:
df1[(df1['bowler'] == 'P Kumar') & 
    (df1['is_wicket'] == 1) & 
    (~df1['dismissal_kind'].isin(['retired hurt', 'hit wicket', 'obstructing the field', 'retired out']))]

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
807,335985,1,Mumbai Indians,Royal Challengers Bangalore,18,5,AM Nayar,P Kumar,SM Pollock,0,0,0,NaN,1,AM Nayar,caught,Z Khan
2504,335992,2,Rajasthan Royals,Royal Challengers Bangalore,0,4,M Rawat,P Kumar,GC Smith,0,0,0,NaN,1,M Rawat,caught,MV Boucher
3329,335996,1,Chennai Super Kings,Royal Challengers Bangalore,6,3,PA Patel,P Kumar,MEK Hussey,0,0,0,NaN,1,PA Patel,caught,JH Kallis
3362,335996,1,Chennai Super Kings,Royal Challengers Bangalore,11,6,MEK Hussey,P Kumar,SK Raina,1,0,1,NaN,1,SK Raina,run out,W Jaffer
5864,336006,2,Kings XI Punjab,Royal Challengers Bangalore,8,4,RR Sarwan,P Kumar,SE Marsh,0,0,0,NaN,1,RR Sarwan,caught,DT Patil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139432,1082603,1,Rising Pune Supergiant,Gujarat Lions,0,3,AM Rahane,P Kumar,RA Tripathi,0,0,0,NaN,1,AM Rahane,caught,SK Raina
140291,1082606,2,Mumbai Indians,Gujarat Lions,0,2,PA Patel,P Kumar,JC Buttler,0,0,0,NaN,1,PA Patel,caught,JJ Roy
141988,1082613,1,Kolkata Knight Riders,Gujarat Lions,18,2,RV Uthappa,P Kumar,MK Pandey,0,0,0,NaN,1,RV Uthappa,caught,BB McCullum
148829,1082643,2,Sunrisers Hyderabad,Gujarat Lions,2,1,S Dhawan,P Kumar,DA Warner,0,0,0,NaN,1,S Dhawan,caught,JP Faulkner
148834,1082643,2,Sunrisers Hyderabad,Gujarat Lions,2,6,MC Henriques,P Kumar,DA Warner,0,0,0,NaN,1,MC Henriques,caught,KD Karthik

In [88]:
batsman_name_and_balls

       match_id          batsman  runs  balls_faced
0        335982       SC Ganguly    10          NaN
1        335982      BB McCullum   158          NaN
2        335982       RT Ponting    20          NaN
3        335982        DJ Hussey    12          NaN
4        335982  Mohammad Hafeez     5          NaN
...         ...              ...   ...          ...
30795   1370353           S Dube    32         21.0
30796   1370353        AM Rahane    27         14.0
30797   1370353        AT Rayudu    19          8.0
30798   1370353         MS Dhoni     0          1.0
30799   1370353        RA Jadeja    15          6.0

[30800 rows x 4 columns]

In [27]:
df2

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1359544,2023,Bengaluru,2023-05-21,League,Shubman Gill,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,wickets,6.0,198.0,20.0,N,NaN,Nitin Menon,VK Sharma
1020,1370350,2023,Chennai,2023-05-23,Qualifier 1,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,Chennai Super Kings,runs,15.0,173.0,20.0,N,NaN,AK Chaudhary,CB Gaffaney
1021,1370351,2023,Chennai,2023-05-24,Eliminator,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,Mumbai Indians,runs,81.0,183.0,20.0,N,NaN,BNJ Oxenford,VK Sharma
1022,1370352,2023,Ahmedabad,2023-05-26,Qualifier 2,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Mumbai Indians,Mumbai Indians,field,Gujarat Titans,runs,62.0,234.0,20.0,N,NaN,Nitin Menon,RJ Tucker
1023,1370353,2023,Ahmedabad,2023-05-29,Final,DP Conway,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker